.git/
*.DS_Store
.emacs.d/undohist/*
!.gitkeep
.emacs.d/auto-save-list/*
!.gitkeep
.emacs.d/backups/*
!.gitkeep
.emacs.d/eshell/*
!.gitkeep
.emacs.d/mother/
.emacs.d/init.el~
.emacs.d/network-security.data
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/conf/*
!.gitkeep
.emacs.d/elpha/*
!.gitkeep
.emacs.d/info/*
!.gitkeep
.emacs.d/public_repos/*
!.gitkeep
